.tm-content-row {
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;

}
.tm-block-col {
    margin-bottom: 30px;
}
.tm-block-products {
    min-height: 725px;
    padding-top: 30px !important;
}
.tm-bg-primary-dark {
    background-color: #435c70;
}
.tm-product-table-container {
    max-height: 465px;
    margin-bottom: 15px;
    overflow-y: scroll;
}
.table1 {
    background-color: #50697f;
    color: #fff;
    font-size: 85%;
    margin-bottom: 0;
    width: 100%;
}

.table1 td{
  font-size: 15px;
}


.table1 th{
    font-size: 15px;
  }

thead {
    background-color: #486177;
    color: #fff;
}
.tm-product-table tr {
    font-weight: 600;
}
.tm-table-small th {
    padding-left: 12px;
    padding-right: 12px;
    border-top: 1px solid #415a70;
    padding: 15px 25px;
}

.tm-mt-big {
    margin-top: 57px;
}

.tm-block-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}
.tm-product-img-dummy {
    max-width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #aaa;
}
.tm-upload-icon {
    background: #455c71;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
}