.tm-bg-primary-dark {
    background-color: #435c70;
}

.tm-block-h-auto {
    min-height: 1px;
    max-height: none;
    height: auto;
    margin: 30px;
    padding: 37px;
    width: 400px;
}
.tm-block-title {
    font-size: 1.rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    width: 350px;
 }
 .form-group label {
    color: #fff;
    margin-bottom: 10px;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    padding: 19px 18px;
    border-radius: 0;
    height: 50px;
}
.form-control {
    background-color: #54657d;
    color: #fff;
    border: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.parant-row{
    justify-content: center;
}

.heading{
    justify-content: center;
    
}