.tm-content-row {
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
}
.tm-block-col {
    margin-bottom: 30px;
}
.tm-bg-primary-dark {
    background-color: #435c70;
}
.tm-block-h-auto {
    min-height: 1px;
    max-height: none;
    height: auto;
}
.tm-block-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}
.text-white {
    color: #fff!important;
}
.custom-select {
    height: 50px;
    border-radius: 0;
}
.custom-select {
    width: 100%;
    border: none;
    color: #acc6de;
    height: 50px;
  
    border-radius: 0;
    padding: 15px;
   
}

.tm-col-avatar {
    max-width: 425px;
    width: 37%;
    padding-left: 15px;
    padding-right: 15px;
}
.tm-avatar-container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tm-avatar {
    width: 345px;
}
.tm-avatar-delete-link {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 1000;
    padding: 14px;
    border-radius: 50%;
    background-color: rgba(57, 78, 100, 0.7);
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    display: none;
    transition: all 0.2s ease;
}
.tm-product-delete-icon {
    font-size: 1.1rem;
    color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #f5a623;
    border: 2px solid #f5a623;
    font-size: 90%;
    font-weight: 600;
}
.btn {
    border-radius: 0;
    padding: 13px 28px;
    transition: all 0.2s ease;
    max-width: 100%;
}
.tm-col-account-settings {
    max-width: 822px;
    width: 63%;
    padding-left: 15px;
    padding-right: 15px;
}
.tm-block-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 15px;
}
